<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhangli.json"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MerchantActivity"
            android:label="@string/title_activity_merchant"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PictrueActivity"
            android:label="@string/title_activity_frist__txt_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".user.PictrueActivity"
            android:label="@string/title_activity_pictrue"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".VedioActivity"
            android:label="@string/title_activity_vidio"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MusicActivity"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
